{% include "header.html" %}
{% block body %}
    <div class="container">
        <h1>Library Management Dashboard</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Most Rented Books</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Times Rented</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for book in top_rented_books %}
                                    <tr>
                                        <td>{{ book.title }}</td>
                                        <td>{{ book.authors }}</td>
                                        <td>{{ book.issued_times }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Members with Most Outstanding Debt</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Outstanding Debt</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in top_debt_members %}
                                    <tr>
                                        <td>{{ member.name }}</td>
                                        <td>{{ member.email }}</td>
                                        <td>{{ member.phone_number }}</td>
                                        <td>{{ member.outstanding_debt }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Most Rated Books</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for book in top_rated_books %}
                                    <tr>
                                        <td>{{ book.title }}</td>
                                        <td>{{ book.authors }}</td>
                                        <td>
                                            {% for i in range(1, 6) %}
                                                {% if i <= book.average_rating %}
                                                    <i class="fas fa-star"></i>
                                                {% elif (book.average_rating - (i-1) < 0.5) %}
                                                    <i class="fas fa-star-half"></i>
                                                {% else %}
                                                    <i class="far fa-star"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Members Who Rent Most Books</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Outstanding Debt</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in top_renting_members %}
                                    <tr>
                                        <td>{{ member.name }}</td>
                                        <td>{{ member.email }}</td>
                                        <td>{{ member.phone_number }}</td>
                                        <td>{{ member.outstanding_debt }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='libs/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/sidebarmenu.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/simplebar/dist/simplebar.js')}}"></script>
</body>
</html>
{% endblock %}
